p{
    color:violet
    
}

h1 {
    text-align:center;
    background-color: #ffb6c1;
    color: red;
}    
h2 {
    color: blue;;
    
}
.btn-1 {
    width: 100px;
    height: 20px;
    background: #ef454a;
    text-align: center;
    color: #fff;
    margin-top: auto;
    font-weight: bold;
    font-size: 10px;
}
#tab {
    width: 400px;
    background: #1caa5d;
    border: solid 1px #1caa5d;
}

/* 頁籤ul */
#tab > ul {
    /* overflow: hidden; */
    margin: 0;
    padding: 10px 20px 0 20px;
}

#tab > ul > li {
    list-style-type: none;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
