h1 {
    text-align:center;
    background-color: lightpink;
    color: red;
}    
h2 {
    color: blue;;
}
#btn {
    width: 100px;
    height: 50px;
    background: #ef454a;
    text-align: center;
    color: #fff;
    margin-top: auto;
    font-weight: bold;
    font-size: 10px;
}
